<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div>
        <h1>Kingfisher for Agile Websites </h1>
        <h2 class="text-muted">Html5 Responsive Bootstrap Theme for Odoo CMS</h2> </div>
      <hr/>
      <p class="lead">Kingfisher, as the name suggests, is an agile, flexible, aesthetic and customizable theme that can fuel the website. Its specialty lies in its neat and clean finish, simple navigation yet attractive layout. This theme offers three level mega menu, customizable product list and many more attractive features to create a professional and highly robust website. </p> <img src="splash-screen.png" class="img-responsive center-block" /></div>
  </div>

  

  <div class="row">
    <div class="col-md-9 mt32"><br/>
      <h2 class="text-muted">Kingfisher brings range of customization options </h2> </div>
  </div>

  <div class="row">
    <div class="col-md-9 mb32">
      <p style="">With a range of features to give handy tool to customize the theme simply, kingfisher is the one that can be redefined to create an awesome website. </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 mb32"> <img src="cust-block01.png" class="img-responsive center-block" /></div>
  </div>

  <div class="row">
    <div class="col-md-9 mb32"> <img class="img-responsive center-block" src="cust-block02.png" /> </div>
  </div>

  <div class="row">
    <div class="col-md-9 mb32">
      <br> <img class="img-responsive center-block" src="cust-block03.png" /> </div>
  </div>

  <div class="row">
    <div class="col-md-9 mb32">
      <br>
      <h3 class="section-title style1"><span>Customized Contact Us Page</span></h3> <img class="img-responsive center-block" src="cust-block05.png" /> </div>
  </div>

  <div class="row">
    <div class="col-md-11 mb32 "><br/>
      <h3 class="section-title style1"><span>CMS BLOCKS</span></h3><br/>
      <div class="col-md-4">
        <h5><b>BLOCKS</b></h5>
        <ul>
          <li>2 Column Text</li>
          <li>3 Column Text</li>
          <li>4 Column Text</li>
          <li>Separator Block</li>
          <li> Big Image Parallax</li>
			<li>New Arrivals On Homepage</li>
          <li>Features Product On Homepage</li>
          <li>Our Brand</li>
        </ul>
      </div>
    
      <div class="col-md-3">
        <h5><b>CONTENT BLOCKS</b></h5>
        <ul>
          <li>Industry Based Theme</li>
          <li>Three Level Mega Menu</li>
          <li>Text + Big Picture</li>
          <li>Product List Customization</li>
          <li>Custom Button</li>
			 <li>CSS 3 Animation</li>
          <li>Hero Images Slideshow</li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5><b>NEWSLETTER BLOCKS</b></h5> <img src="cust-block04.png" class="img-responsive center-block" /> </div>
    </div>
    </div>

    <div class="row">
      <div class="col-md-9 mb32"><br/>
        <h3 class="section-title style1"><span>Our Odoo Services </span></h3><br/>
        <a target="_blank" href="http://www.biztechconsultancy.com/odoo-development.htm"><img src="service-banner.png" class="img-responsive center-block" /></a>
      </div>
    </div>    
  </div>
