/* font*/
body {
	font: 300 15px "Open Sans", arial, sans-serif !important;
}

 

 
  /* For general iPad layouts */
}

.navbar-nav {
	font-size: 13px !important;
}

.droid-serif {
	font-family: 'Droid Serif';
}

/* page-title */
.page-title {
	/*background: url("../img/title-bg.jpg") no-repeat fixed center center;*/
	/* background: url("../img/header-property.jpg") no-repeat center center
		!important; */
	background-size: cover;
	border-width: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	padding: 30px !important;
}

/* page-service */
.page-service {
	/*background: url("../img/title-bg.jpg") no-repeat fixed center center;*/
	background: url("../img/Customer Service 1900x240.jpg") no-repeat center
		center !important;
	background-size: cover;
	border-width: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	padding: 30px !important;
	height: 220px;
}

/* page-customer-care */
.page-customer-care {
	/*background: url("../img/title-bg.jpg") no-repeat fixed center center;*/
	background: url("../img/Customer Care 1900 X 240.jpg") no-repeat center
		center !important;
	background-size: cover;
	border-width: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	padding: 30px !important;
	height: 240px;
}

.page-title-property {
	background: url("../img/header-property.jpg") repeat center center
		!important;
}

.page-title-other {
	background: transparent url("../img/header-brokerage.jpg") no-repeat
		fixed center center/cover !important;
}

/* all header page */

/* page-group-buy */
.page-group-buy {
	/*background: url("../img/title-bg.jpg") no-repeat fixed center center;*/
	background: url("../img/groupbuying 1900 x 240.jpg") no-repeat center
		center !important;
	background-size: cover;
	border-width: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	padding: 30px !important;
	height: 240px;
}

/* page-header-featured */
.page-header-featured {
	/*background: url("../img/title-bg.jpg") no-repeat fixed center center;*/
	background: url("../img/banner7.jpg") no-repeat center center !important;
	background-size: cover;
	border-width: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	padding: 30px !important;
	height: 180px;
	width: 100%%;
}

/* page-add-prop */
.page-add-prop {
	/*background: url("../img/title-bg.jpg") no-repeat fixed center center;*/
	background: url("../img/Add Properity 06-10.jpg") no-repeat center
		center !important;
	background-size: cover;
	border-width: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	padding: 30px !important;
	height: 240px;
}

/* page-add-job */
.page-add-job {
	/*background: url("../img/title-bg.jpg") no-repeat fixed center center;*/
	background: url("../img/Jobs 1900x240.jpg") no-repeat center center
		!important;
	background-size: cover;
	border-width: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	padding: 30px !important;
	height: 200px;
}

/* page-training-development */
.page-training-development {
	/*background: url("../img/title-bg.jpg") no-repeat fixed center center;*/
	background:
		url("../img/Training and development and internships header.jpg")
		repeat center center !important;
	background-size: cover;
	border-width: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	padding: 30px !important;
}

/* page-training-development */
.page-training-development {
	/*background: url("../img/title-bg.jpg") no-repeat fixed center center;*/
	background:
		url("../img/Training and development and internships header.jpg")
		no-repeat center center !important;
	background-size: cover;
	border-width: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	padding: 30px !important;
	/* margin-left: 200px !important; */
	height: 350px;
}

/* page-about-us */
.page-about-us {
	/*background: url("../img/about_us.jpg") no-repeat fixed center center;*/
	background: url("../img/about_us.jpg") no-repeat center !important;
	background-size: cover;
	border-width: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	padding: 30px !important;
	height: 160px;
}

/* page-service */
.page-service {
	/*background: url("../img/title-bg.jpg") no-repeat fixed center center;*/
	background: url("../img/Customer Service 1900x240.jpg") no-repeat center
		center !important;
	background-size: cover;
	border-width: 0px !important;
	margin-top: 0px !important;
	margin-bottom: 20px !important;
	padding: 30px !important;
	height: 220px;
}

/**Fix sub menu*/
.navbar-nav ul.mega-menu {
	width: auto !important;
	padding: 0px !important;
	left: auto !important;
	text-transform: uppercase;
}

/*border-bottom for sub menu*/
.dropdown-menu>li {
	border-bottom: 1px solid rgb(204, 204, 204);
	padding: 2px;
}

.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus {
	background-color: rgb(204, 204, 204) !important;
}

.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus
	{
	background-color: transparent;
	color: #333;
}

.dropdown-menu {
	font-size: 12px !important;
}

.nav-top {
	border-bottom-color: #ddd !important;
	border-bottom-style: solid !important;
	border-bottom-width: 1px !important;
}

.header-top {
	border-bottom-style: none !important;
}

/* footer,*/
footer {
	background-color: #363839;
}
/*other */
.button .icon {
	display: inline-block;
	margin-left: 17px;
	margin-bottom: -6px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	background: transparent url("../img/right.png") repeat scroll center
		center;
}

.span-about {
	margin-left: 100px;
	color: #fff;
	font-weight: bold;
}

.button_carousel {
	display: inline-block !important;
	padding: 20px 55px !important;
	font-size: 1em !important;
	text-transform: uppercase !important;
	letter-spacing: 0.2em !important;
	font-weight: bod !important;
	border-radius: 3px !important;
	background-color: transparent !important;
	color: #000000 !important;
	font-weight: bold;
	font-family: 'Droid Serif';
}

.nav>li>a {
	padding: 5px 12px !important;
}

.button_menu {
	/*padding: 9px !important;*/
	margin-right: 5px !important;
	background: #000055 none repeat scroll 0% 0% !important;
	border: none !important;
	border-radius: 3px !important;
}

ul.navbar-nav   li  a.button-header {
	padding: 5px 5px !important;
	color: #fff;
	margin-right: 5px !important;
	/*background: #000055 none repeat scroll 0% 0% !important;*/
	border: none !important;
	padding: 1px 10px 0 !important;
}

.header-top {
	padding: 0px 0px 0px 0px !important;
}
/*-----------*/
ul.social-list li a.facebook {
	color: #FFF;
	background-color: #507CBE !important;
}

ul.social-list li a.twitter {
	color: #FFF;
	background-color: #63CDF1 !important;
}

ul.social-list li a.google {
	color: #FFF;
	background-color: #F16261 !important;
}

ul.social-list li a.linkedin {
	color: #FFF;
	background-color: #90CADD !important;
}

ul.social-list li a.facebook:hover,ul.social-list li a.facebook:focus {
	background-color: #507CBE;
	-webkit-box-shadow: 0 0 2px #507CBE;
	-moz-box-shadow: 0 0 2px #507CBE;
	box-shadow: 0 0 2px #507CBE;
}

ul.social-list li a.twitter:hover,ul.social-list li a.twitter:focus {
	background-color: #63CDF1;
	-webkit-box-shadow: 0 0 2px #63CDF1;
	-moz-box-shadow: 0 0 2px #63CDF1;
	box-shadow: 0 0 2px #63CDF1;
}

ul.social-list li a.google:hover,ul.social-list li a.google:focus {
	background-color: #F16261;
	-webkit-box-shadow: 0 0 2px #F16261;
	-moz-box-shadow: 0 0 2px #F16261;
	box-shadow: 0 0 2px #F16261;
}

ul.social-list li a.linkedin:hover,ul.social-list li a.linkedin:focus {
	background-color: #90CADD;
	-webkit-box-shadow: 0 0 2px #90CADD;
	-moz-box-shadow: 0 0 2px #90CADD;
	box-shadow: 0 0 2px #90CADD;
}

.header-top li a:hover {
	text-decoration: none !important;
}

.btn-system {
	cursor: pointer;
	padding: 5px 25px;
	background-color: #000055 !important;
	border: 1px solid #000055;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
	box-shadow: 0 0 4px rgba(0, 0, 0, .75);
	color: #f3f3f3 !important;
	font-size: 1.1em;
}

.btn-system:hover,.btn-system:focus {
	background-color: #000055;
	-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 0 1px rgba(0, 0, 0, .75);
	box-shadow: 0 0 1px rgba(0, 0, 0, .75);
	text-decoration: none;
}

/**/
#top_menu.navbar-nav>li.a {
	color: #000 !important;
}

#top_menu.navbar-nav>li>a {
	color: #000 !important;
}

#top_menu.navbar-nav>li.active>a {
	color: #000 !important;
	background-color: transparent !important;
}

#top_menu.navbar-nav>li>a.btn-system {
	color: #fff !important;
}

/*#top_menu.navbar-nav  li a:hover  {
	color: #fff !important;
}*/
.select_search {
	/*display: inline !important;*/
	/* width: 20% !important;*/
	margin-bottom: 20px;
}

.ticker {
	width: auto;
	height: 70px;
	overflow: hidden;
	text-align: center;
}

.ticker ul {
	/*list-style: none;*/
	padding: 0;
	margin: 0;
}

.ticker ul>li {
	/*list-style: none;*/
	height: 70px;
	padding: 7px;
}

.ticker ul>li h1 {
	color: #000000;
	text-transform: uppercase;
}

.featured {
	width: auto;
	height: 70px;
	text-align: center;
}

.featured ul {
	/*list-style: none;*/
	padding: 0;
	margin: 0;
}

.featured ul>li a {
	color: #FFFFFF;
	text-transform: uppercase;
}

.oe_website_sale {
	box-shadow: 0 0 26px rgba(0, 0, 0, 0.3);
}

.div-shadow {
	box-shadow: 0 0 26px rgba(0, 0, 0, 0.3);
}

.carousel-inner>.item>img,.carousel-inner>.item>a>img {
	width: 100%;
	margin: auto;
}

/* carousel product*/
.carousel .carousel-control.right * {
	left: 0 !important;
}

.carousel-control.left {
	background-image: none;
}

.carousel-control.right {
	background-image: none;
}

.carousel-inner-item {
	height: 225px;
}

.carousel-inner-item>.item>img,.carousel-inner-item>.item>a>img {
	height: 225px !important;
}

.dropdown-menu>li>a {
	text-transform: uppercase;
}

.breadcrumb {
	list-style: none;
	overflow: hidden;
	margin-top: 14%;
}

.breadcrumb li {
	float: left;
}

 
