.rtl .header-wrapper div:first-child {
	padding-left: 0px;
	margin-right: 1170px !important;
	padding-top: 0px;
	margin-top: 0px;
	position: absolute;
	z-index: 1"
}

.preview {
	position: relative;
	z-index: 0;
}

.preview:hover {
	background-color: transparent;
	z-index: 50;
}

.preview span { /*CSS for enlarged image*/
	position: absolute;
	background-color: lightyellow;
	padding: 5px;
	left: -1000px;
	border: 1px dashed gray;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.preview span img { /*CSS for enlarged image*/
	border-width: 0;
	padding: 2px;
}

.preview:hover span { /*CSS for enlarged image on hover*/
	visibility: visible;
	top: 0;
	left: 60px;
	/*position where enlarged image should offset horizontally */
}