.button .icon {
	background: transparent url("../img/left.png") repeat scroll center center !important;
}
.span-about{
	margin-left:10px !important;
	margin-right:100px !important;
}

.owl-controls .owl-nav {
    left: 0 !important;
}